[package]

name = "nickel"
version = "0.1.0"
authors = [ "christoph@thoughtram.io" ]

[lib]

name = "nickel"
path = "src/lib.rs"

[dependencies.http]

git = "https://github.com/nickel-org/rust-http.git"

[dependencies.anymap]

git = "https://github.com/nickel-org/anymap.git"

[dependencies.url]

git = "https://github.com/nickel-org/rust-url.git"

[dependencies.rust-mustache]

git = "https://github.com/nickel-org/rust-mustache.git"

[dependencies.groupable]

git = "https://github.com/nickel-org/groupable-rs"

[dependencies.nickel_macros]

path = "nickel_macros"

[dependencies.time]

git = "https://github.com/rust-lang/time"

[[example]]

name = "example"
path = "examples/example.rs"


[[example]]

name = "example_with_default_router"
path = "examples/example_with_default_router.rs"

[[example]]

name = "example_template"
path = "examples/example_template.rs"

[[example]]

name = "macro_example"
path = "examples/macro_example.rs"

[[example]]

name = "hello_world"
path = "examples/hello_world.rs"
