<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <title>{{title}}</title>
</head>
<body>
      <form>
            <input type="text" name="firstname" placeholder="First Name" autofocus>
            <input type="text" name="lastname" placeholder="Last Name">
            <input type="tel" name="phone" placeholder="Phone #">
            <input type="email" name="email" placeholder="Email">
            <button type="submit" formenctype="application/x-www-form-urlencoded" formaction="/confirmation" formmethod="post">SEND</button>
      </form>
</body>
</html>
